body {
  margin: 0;
  font-family: "Fabulist";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Fabulist";
}

a {
  color: white;
}

a:hover {
  color: black;
}
